@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My Blogs</p>
<ul>
    <li>
        <a href="http://www.cnblogs.com/wangyangang">博客园</a><br />
        <a href="http://yangangwang.github.io">githb博客</a><br />
        <a href="http://www.github.com">github</a><br />
    </li>
</ul>
